<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
<script src="../static/js/jquery.Jcrop.min.js"></script>
<script src="../static/js/jquery.color.js"></script>
<link href="../static/css/jquery.Jcrop.min.css" rel="stylesheet">
<img id="target"/>
<canvas id="result" width="500" height="500" style="width:500px;height:500px;overflow:hidden;"></canvas>
<script>
$(document).ready(function(){
  $("#target").attr('src', localStorage.img);
})

jQuery(function($){
	$('#target').Jcrop({
	    onChange : updatePreview,
	    onSelect : updatePreview,
	    aspectRatio : 1
	});
});

function updatePreview(c) {
    if(parseInt(c.w) > 0) {
        // Show image preview
        var imageObj = $("#target")[0];
        var canvas = $("#result")[0];
        var context = canvas.getContext("2d");
        context.drawImage(imageObj, c.x, c.y, c.w, c.h, 0, 0, canvas.width, canvas.height);
    }
};

function cropImage() {
	try {
		var canvas = document.getElementById("result");
		var img    = canvas.toDataURL();
		localStorage.setItem('result', img);
	}
	catch(e) {

	}
	// window.location.href="#image";
}
</script>

<span class="btn btn-success fileinput-button pull-right" onclick="cropImage();">
    <span>{{btnText}}</span>
    <i class="icon-chevron-right icon-white"></i>
</span>